@import "../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../node_modules/vdom-kv-form/style/main.scss";
@import "../node_modules/vdom-form/style/_fields.scss";

body, input, label {
  font-family: Helvetica, sans-serif;
}

.app {
  padding: 1em;
}

.vdom-kv-form {
  padding: 0;
  margin: 0;
}

.vdom-kv-input {
  input {
    @include placeholder {
      opacity: 0.4;
    }
    color: black;
    font-size: 1.3em;
  }
}

.vdom-kv-form-button {
  &:disabled {
    opacity: 0.4;
    cursor: auto;
    &:hover {
      background-color: whitesmoke;
    }
  }
}

.new-node-view {
  padding: 1em;
  margin: 3em;
  background-color: whitesmoke;
}

.vdom-form-field {
  margin-left: 4em;
  width: 90%;
  margin-right: auto;
  label {
    margin-left: 1.6em;
  }
  input {
    margin-left: 6em;
    width: initial;
    font-weight: 300;
  }
}


.vdom-list {
  padding-left: 0;
  list-style: none;
}

.vdom-list-child {
  list-style: initial;
}
